<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#restaurant-content" class="skip-link">Menuju ke konten</a>
    <div class="wrapper">
        <header>
            <span tabindex="0" class="nav-title"><b>RestoranKu</b></span>
            <a id="menu" href="#" class="nav-menu">☰</a>
        </header>
        <nav>
            <ul class="nav-right" id="drawer">
                <li class="nav-item"><a href="./index.html">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://www.linkedin.com/in/victor-ang-284119197/">About Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="hero">
        <div class="hero__inner">
            <h1 tabindex="0" class="hero__title">Bingung Mencari Restoran Yang Enak?</h1>
            <p tabindex="0" class="hero__tagline">Ayo pilih restoran kesukaanmu dari restoran-restoran yang mempunyai rating tinggi</p>
        </div>
    </div>

    <main class="main-wrapper">
        <section>
            <h1 class="main-heading" tabindex="0">Explore Restaurant</h1>
            <div class="rests" id="restaurant-content">
            
            </div>
        </section>

        <section>
            <h1 class="main-heading" tabindex="0">Top Famous Restaurant</h1>
            <div class="rests" id="top-restaurant-content">

            </div>
        </section>
    </main>

    <footer tabindex="0">
        <b>Copyright © 2020 - RestoranKu</b>
    </footer>
</body>
</html>
