@import './variables';
@import './mixins';

.card-container {
    border-radius: 12px;
    box-shadow: 1px 1px 2px 3px lightgrey;
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .img-content {
        width: 300px;
        height: 400px;
        border-radius: 12px;
    }

    .card-content-body {
        margin-left: 24px;

        .content-title {
            margin-top: 12px;
            font-weight: bold;
            font-size: 20px;
        }

        .category-container {
            display: flex;
            flex-wrap: wrap;

            .card-category {
                padding: 0.5rem;
                color: $primary-color;
                background-color: $text-color;
                margin-right: 8px;
                border-radius: 8px;
                margin: 8px 8px 0 0;
            }
        }

        .show-title {
            font-weight: bold;
            font-size: 28px;
        }
    
        .show-desc {
            margin-top: 4px;
            font-size: 14px;
            color: #6a6e7e;
            text-align: justify;
        }
        
        .menu-container {
            display: flex;

            .menu-box-container {
                flex: 1;

                .menu-list {
                    display: flex;
                    flex-wrap: wrap;
                }

                .menu-item {
                    padding: 0.5rem;
                    color: $text-color;
                    background-color: $primary-color;
                    border: 1px $text-color solid;
                    margin-right: 8px;
                    border-radius: 8px;
                    margin: 8px 8px 0 0;
                    cursor: pointer;

                    &:hover {
                        background-color: $text-color;
                        color: $primary-color;
                    }
                }
            }
        }

        .btn-rounded {
            cursor: pointer;
            margin-top: 12px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: inline-block;
            border: none;
            color: $primary-color;
            background-color: $text-color;
            outline: none;
        }
    }
}

@include mobile {
    
    .card-container {
        display: flex;
        flex-direction: column;
    }
    
    .text-popularity {
        text-align: center;
    }

    .card-content-body {
        margin-top: 12px;
        margin-left: 0px;
    }
}