@import './variables';
@import './functions';
@import './mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button, a {
    min-width: 44px;
    min-height: 44px;
}

.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: $text-color;
    color: white;
    padding: 8px;
    z-index: 100;
    
    &:focus {
        top: 0;
    }
 }

.wrapper {
    background-color: $primary-color;
    align-items: center;
    padding: 16px 28px;
    color: $text-color;
    font-family: 'Times New Roman', Times, serif;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .nav-menu {
        font-size: 32px;
        min-width: 44px;
        min-height: 44px;
        text-align: center;
        text-decoration: none;
        color: $text-color;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .nav-title {
        font-size: 28px;
    }

    .nav-right {
        @include dFlex(row);
        align-items: center;

        .nav-item {
            list-style-type: none;
            margin: auto 16px;

            a {
                text-decoration: none;
                font-size: 18px;
                display: block;    
                line-height: 44px;
                color: $text-color;
             }
        }
    }

    @include mobile {
        padding: 16px 16px;
        justify-content: center;

        header {
            @include dFlex(row);
            justify-content: space-between;
            align-items: center;
            
            .nav-title {
                font-size: 30px;
            }

            .nav-menu {
                cursor: pointer;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }

        .nav-right {
            @include dFlex(column);
            z-index: 10;
            background-color: $primary-color;
            width: 200px;
            position: absolute;
            right: 0;
    
            -webkit-transform: translate(0, -300px);
            transform: translate(0, -300px);
    
            transition: transform 0.3s ease;

            .nav-item {
                margin: 12px 0;

                a {
                    font-size: 18px;
                }
            }
        }

        .open {
            z-index: 10;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    @include tablet {
        @include dFlex(row);
        justify-content: space-between;
        align-items: center;

        .nav-menu {
            display: none;
            background-color: transparent;
            outline: none;
            border: none;
        }

        .nav-right {
            .nav-item {

                a {
                    font-size: 15px;
                }
            }
        }
    }

    @include desktop {
        @include dFlex(row);
        justify-content: space-between;
        align-items: center;
        .nav-menu {
            display: none;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/hero-image-large.jpg");
    background-position: center;
    background-color: green;

    @include mobile {
        background-image: url("../public/images/hero-image-small.jpg");
    }

    &__inner {
        margin: 0 auto;
        max-width: 800px;
    
        .hero__title {
            color: #fff;
            font-weight: bold;
            font-size: 36px;
        }
        
        .hero__tagline {
            color: #fff;
            margin-top: 16px;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

#main-wrapper {
    padding: 16px 20px;
    width: 100%;

    .main-heading {
        color: $text-color;
        text-align: center;
    }

    .rests {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .rest-item {
            margin: 20px;
            width: 30%;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
            border-radius: 16px;
            padding: 0;

            figure {
                position: relative;

                img {
                    width: 100%;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                    height: 250px;
                }
    
                figcaption {
                    top: 0;
                    padding: 12px 20px;
                    background-color: $text-color;
                    position: absolute;
                    color: #fff;
                    font-size: 24px;
                    border-bottom-right-radius: 16px;
                    border-top-left-radius: 16px;
                }
            }

            &-body {
                @include dFlex(column);
                padding: 20px;

                & > span {
                    font-size: 25px;
                }

                .rest-title {
                    font-size: 22px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: $text-color;
                        }
                    }
                    
                }

                .rest-rating {
                    margin-left: 4px;
                    font-size: 20px;
                    color: $text-color;
                }

                .rest-desc {
                    text-align: justify;
                    font-size: size(regular);
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }

    @include tablet {
        .rests {
            @include dFlex(row);
            flex-wrap: wrap;

            .rest-item {
                margin: 8px;
                width: 45%;
            }
        }
    }

    @include mobile {

        .rests {
            @include dFlex(row);
            flex-wrap: wrap;

            .rest-item {
                margin: 8px;
                width: 100%;

                &-body {
                    .rest-title {
                        font-size: 22px;
                    }

                    .rest-rating {
                        font-size: 18px;
                    }

                    .rest-desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@include mobile {
    .main-wrapper {
        padding: 20px 12px;
        
        .main-heading {
            font-size: 24px;
        }
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: $text-color;
    color: white;
}

.text-no-data {
    color: black;
    margin-top: 12px;
}

.error-message-container {
    text-align: center;
}